Source: meta-phosh
Section: metapackages
Priority: optional
Maintainer: DebianOnMobile Maintainers <debian-on-mobile-maintainers@alioth-lists.debian.net>
Uploaders:
 Arnaud Ferraris <aferraris@debian.org>,
 Guido Günther <agx@sigxcpu.org>,
Standards-Version: 4.7.2
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Homepage: https://phosh.mobi
Vcs-Git: https://salsa.debian.org/DebianOnMobile-team/meta-phosh.git
Vcs-Browser: https://salsa.debian.org/DebianOnMobile-team/meta-phosh

Package: phosh-core
Architecture: linux-any
Depends:
 dconf-gsettings-backend,
 evolution-data-server,
 feedbackd (>= 0.8.4),
 fonts-cantarell,
 fonts-inter-variable,
 glib-networking,
 gnome-backgrounds,
 gnome-control-center (>= 1:44),
 gnome-keyring,
 gnome-online-accounts,
 gnome-session-bin,
 gnome-session-common,
 gnome-settings-daemon (>= 46),
 gsettings-desktop-schemas (>= 47~),
 gstreamer1.0-plugins-base,
 gstreamer1.0-plugins-good,
 gvfs-backends,
 gvfs-fuse [linux-any],
 libglib2.0-bin,
 libpam-gnome-keyring,
 libspa-0.2-bluetooth | pulseaudio-module-bluetooth,
 network-manager,
 phoc (>= 0.44~),
 phosh (>= 0.52.0),
 phosh-mobile-tweaks (>= 0.52.0),
 phosh-osk-stevia (>= 0.52.0),
 pulseaudio,
 sound-theme-freedesktop,
 xdg-desktop-portal-phosh (>= 0.51.0),
 ${misc:Depends},
Recommends:
 epiphany-browser,
 feedbackd-device-themes (>= 0.8.5),
 gnome-bluetooth-sendto,
 gnome-console (>= 48),
 gnome-contacts (>= 48),
 gstreamer1.0-packagekit,
 iio-sensor-proxy,
 libjxl-gdk-pixbuf,
 libproxy1v5 [linux-any],
 network-manager-config-connectivity-debian | network-manager-config-connectivity-ubuntu,
 phosh-mobile-settings (>= 0.52~),
 sound-theme-phosh (>= 0.42.0),
 xdg-desktop-portal-gtk,
 xdg-desktop-portal-wlr,
Suggests:
 systemd-coredump,
Description: Phosh Mobile Environment -- essential components
 These are the core components of the Phosh environment for mobile
 devices.
 .
 This aims to be similar to the GNOME desktop environment but for mobile
 devices.
 .
 This metapackage depends on a basic set of programs, including a
 web browser and a contacts application.

Package: phosh-pim
Architecture: linux-any
Depends:
 gnome-calendar,
 gnome-contacts,
 phosh-core (= ${binary:Version}),
 ${misc:Depends},
Recommends:
 endeavour,
Description: Phosh Mobile Environment -- PIM components
 These are the PIM related components of the Phosh environment for
 mobile devices.
 .
 This aims to be similar to the GNOME desktop environment but for mobile
 devices.
 .
 This metapackage depends on a set of programs for managing personal
 information such as contacts, tasks and calendars.

Package: phosh-phone
Architecture: linux-any
Depends:
 cellbroadcastd,
 chatty (>= 0.8.2),
 gnome-calls (>= 44),
 modemmanager (>= 1.24.0),
 phosh-pim (= ${binary:Version}),
 ${misc:Depends},
Recommends:
 geoclue-2.0,
 phosh-antispam (>= 3.3.0),
 wys,
Suggests:
 firefox-esr-mobile-config,
 vvmplayer,
Description: Phosh mobile environment -- phone components
 These are the phone related components of the Phosh environment for
 mobile devices.
 .
 This aims to be similar to the GNOME desktop environment but for mobile
 devices.
 .
 This metapackage depends on a set of programs that are needed for
 phone calls and sms handling.

Package: phosh-tablet
Architecture: linux-any
Depends:
 phosh-core (= ${binary:Version}),
 ${misc:Depends},
Description: Phosh Mobile Environment -- tablet components
 These are the tablet related components of the Phosh environment for
 mobile devices.
 .
 This aims to be similar to the GNOME desktop environment but for mobile
 devices.
 .
 This metapackage depends on a set of programs that are useful on tablets.

Package: phosh-full
Architecture: linux-any
Depends:
 avahi-daemon,
 cups-pk-helper,
 desktop-base,
 gapless,
 gnome-clocks (>= 48),
 gnome-console,
 gstreamer1.0-libav,
 gstreamer1.0-plugins-ugly,
 libproxy1v5 [linux-any],
 phosh-core (= ${binary:Version}),
 phosh-pim (= ${binary:Version}),
 xwayland,
 ${misc:Depends},
Recommends:
 chatty,
 gnome-software-plugin-flatpak,
 gnome-usage,
 livi,
 phosh-games,
 phosh-plugins,
 phosh-wallpapers,
 plymouth-theme-phosh,
Suggests:
 phosh-phone | phosh-tablet,
Description: Phosh Mobile Environment, with extra components
 This is the Phosh environment for mobile devices.
 .
 This metapackage depends on a bigger set of programs than phosh-core
 giving a more complete environment.

Package: phosh-games
Architecture: all
Depends:
 gnome-chess,
 ${misc:Depends},
Recommends:
 gnome-2048,
Description: games for the Phosh mobile environment
 These are the games from the Phosh environment that should fit the
 screens of mobile devices.
 .
 Games are now split in separate packages; this metapackage brings all
 of them but they can be installed separately.
